[submodule "anime"]
	path = anime
	url = https://github.com/ThePrimeagen/anime
[submodule "bgs"]
	path = bgs
	url = https://github.com/ThePrimeagen/anime
[submodule "bgs/anime"]
	path = bgs/anime
	url = https://github.com/ThePrimeagen/anime
